.jumbotron{
    background-color: yellow;
    color: black;
    margin-top: 50px;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-top: 10px;
}
.card-hotel{
    
    flex: 1 250px; 
    /* 1 representa que mantenga el tamaño de columna 150px el ancho */
     /* padding: 2px 5px 2px 5px; */
    margin-top: 10px;
    
}
.btn-reservar{
    width: 100%;
    border-radius: 0px;
}
/* mapa del sitio en formato xml para motores de busqueda indexar el ranqueo para qeu los mmotores de busqeuda encuentren nuestro sitio */
.footer-addres-icon{
    padding-right: 10px;
}
.tab-content{
    padding-top: 10px;
}
.carousel-item{
    height: 320px;
    
}
